<footer class="padded grid-spaceBetween bgdark">
    <div class="col-4-bottom">
    <h2><strong>Let's</strong> <br /> <span class="featured-text"><strong>connect</strong></span></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fuga ea dicta provident nemo repellat ipsum voluptatibus impedit inventore? Eveniet aliquam sint explicabo maxime voluptate saepe aperiam eaque illo quae!</p>
    </div>

    <div class="col-5-bottom">
    <p><strong>Call: </strong><a href="tel:#">0000000000</a></p>
    <p><strong>Email: </strong><a href="mailto:#"> thesleepco@thesleepco.com</a></p>
    <p><strong>Store: </strong>This is a store address</p>
    <p><strong>Instagram: </strong><a href="#"> @thesleepco</a></p>
    </div>


</footer>