<!DOCTYPE html>
<html>
<!--This is the head of our html, we will link external resources and metadata here like Gridlex and Google fonts-->
<head>
<title>Sleep like a baby</title>
<!--This is our grid stylesheet-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" />
<!--This is our google fonts stylesheet Catamaran (200,400,500,800)-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500;800&display=swap" rel="stylesheet" /> 
<!--This is our fontawesome icons-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<!--This is our CSS stylesheet, this always goes last-->
<link href="style.css" rel="stylesheet" />

</head>
<!--This is the body where all of our page content will go-->
<body>
    {{content}}

    <footer class="padded grid-spaceBetween bgdark">
        <div class="col-4-bottom">
        <h2><strong>Let's</strong> <br /> <span class="featured-text"><strong>connect</strong></span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae fuga ea dicta provident nemo repellat ipsum voluptatibus impedit inventore? Eveniet aliquam sint explicabo maxime voluptate saepe aperiam eaque illo quae!</p>
        </div>
    
        <div class="col-5-bottom">
        <p><strong>Call: </strong><a href="tel:#">0000000000</a></p>
        <p><strong>Email: </strong><a href="mailto:#"> thesleepco@thesleepco.com</a></p>
        <p><strong>Store: </strong>This is a store address</p>
        <p><strong>Instagram: </strong><a href="#"> @thesleepco</a></p>
        </div>
    
    
    </footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/jquery.js"></script>

</body>
</html>